<div id="<%= dom_id saida %>">
  <p>
    <strong>Valorplanejado:</strong>
    <%= saida.valorPlanejado %>
  </p>

  <p>
    <strong>Valortotal:</strong>
    <%= saida.valorTotal %>
  </p>

  <p>
    <strong>Valortaxa:</strong>
    <%= saida.valorTaxa %>
  </p>

  <p>
    <strong>Vencimento:</strong>
    <%= saida.vencimento %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= saida.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= saida.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= saida.user_id %>
  </p>

</div>
