<div id="<%= dom_id entrada %>">
  <p>
    <strong>Valorplanejado:</strong>
    <%= entrada.valorPlanejado %>
  </p>

  <p>
    <strong>Valortotal:</strong>
    <%= entrada.valorTotal %>
  </p>

  <p>
    <strong>Valortaxa:</strong>
    <%= entrada.valorTaxa %>
  </p>

  <p>
    <strong>Vencimento:</strong>
    <%= entrada.vencimento %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= entrada.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= entrada.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= entrada.user_id %>
  </p>

</div>
